.thumbnail {
    width:100%;
}
    /*width:300px;
    display:block;*/
    /*
    height:300px;
    object-fit:contain;
    object-position:right;   by using width 100% no need of this
    border-width: 2px;
    border-style: solid;
    border-color:red;
    */
/*.vedio-preview {
    width:300px;
    display: inline-block;    if we use grid in that we can have row, col space no need of all this
    vertical-align: top;
    margin-right: 15px;
} */
.vedio-title{
    font-size:14px;
    font-weight:500;/*font-weight: bold;*/ 
    margin-top:0px;
    line-height:18px;
    margin-bottom:10px;
}
.vedio-info-grid {
    display:grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width:36px;
    border-radius:25px;
}
.thumbnail-row {
    margin-bottom: 8px;
    position:relative;
}
.vedio-author,.vedio-stats{
    font-size:12px;
    color:rgb(96,96,96)
}
.vedio-author{
    margin-bottom: 4px;
}
.vedio-grid {
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:16px;
    row-gap:40px;
    /* text-decoration:underline;
    border:2px solid red; */
}
@media (max-width:750px) {
    .vedio-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:751px) and (max-width:999px) {
    .vedio-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:1000px) {
    .vedio-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.vedio-time {
    
    font-size:12px;
    font-weight:500px;
    /* padding-bottom: 4px;
    padding-top: 4px;
    padding-left:4px;
    padding-right: 4px; */
    padding:4px;
    border-radius:2px;
    background-color:black;
    color:white;
    position:absolute;
    bottom:8px;
    right:5px;
}
/*.vedio-author,